.node {
  stroke: #333;
  stroke-width: 2px;
}

.link {
  stroke: #333;
  stroke-width: 2px;
  /*stroke-opacity: .6;*/
}

#globalView, #localView {
    width: 100%;
    height:100%;
    display:none;/*init views as hidden*/
    /*min-width:600px;*/
    /*min-height: 600px;*/
}

.uiPanel{
    position: absolute;
    background: rgba(0,0,0,0);
    top: 0;
    /*width: 200px;*/
    height: 100%;
    padding: 30px;
}

#clientUI {
    position: absolute;
    background: rgba(0,0,0,0);
    bottom: 0;
    height: 80px;
    width: 100%;
    padding: 20px;
}

#statusMessage {
    position: absolute;
    background: rgba(0,0,0,0);
    top: 0;
    width: 100%;
    min-width:200px;
    padding: 10px;
    font-size: 30px;
    text-align:center;
}

.btn-block{
    max-width: 200px;
    min-width: 100px;
}

#players{
    font-size: 15px;
}