.node {
  stroke: #333;
  stroke-width: 2px;
}

.link {
  stroke: #333;
  stroke-width: 2px;
  /*stroke-opacity: .6;*/
}

#globalView, #localView, #solutionView {
    width: 100%;
    height:100%;
    display:none;/*init views as hidden*/
    /*min-width:600px;*/
    /*min-height: 600px;*/
}

.uiPanel{
    position: absolute;
    background: rgba(0,0,0,0);
    top: 0;
    /*width: 200px;*/
    height: 100%;
    padding: 30px;
}

#clientUI, #localGlobalToggle {
    position: absolute;
    background: rgba(0,0,0,0);
    bottom: 0;
    height: 80px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#localGlobalToggle {
    display: none;
}

#statusMessage {
    position: absolute;
    background: rgba(0,0,0,0);
    top: 0;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    text-align:center;
}

.btn-block{
    width: 230px;
}

#players{
    font-size: 15px;
}

#numChords {
    width: 150px;
    margin-bottom: 30px;
}